@charset "utf-8";

// Set our custom font for headers
.title,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  font-family: $family-serif;
}

// Prevent images from being larger than their Drupal-set size
.image.no-upscale img {
  width: intrinsic;           /* Safari/WebKit uses a non-standard name */
  width: -moz-max-content;    /* Firefox/Gecko */
  width: -webkit-max-content; /* Chrome */
}

// Style the wordmark (logo)
.navbar-item .wordmark {
  max-height: 3rem; // 4rem
}

$navbar-item-img-max-height: 3rem;

.navbar-item .wordmark img {
  height: 100%;
  width: auto;
}
