@charset "UTF-8";
// Extend or override Bulma's components,
// ../../node_modules/bulma/sass/components

// Make menu items slightly less far apart so we never entirely lose
// 'Community' on mid-size screens.
// See https://gitlab.com/drutopia/octavia/issues/52
.navbar-item, .navbar-link {
  padding-left: .75rem;
  padding-right: .75rem;
  @include from($widescreen) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
