@charset "UTF-8";
// Extend or override Bulma's elements ../../node_modules/bulma/sass/elements

// Style the slogan shown at the top of each page
.slogan.title {
  color: $blue;
  font-style: italic;
  font-weight: normal;
  display: inline-block;
  margin-top: 0.8rem; // 1.2rem
  margin-left: 0.6rem; // 0.8rem
}

.hero.is-primary .banner__front {
  padding: .5rem .75rem;
  background-color: #FFF200;
  .column {
    display: flex;
    justify-content: center;
  }
  .slogan.title {
    margin-top: 0;
    color: $blue;
  }
}

.menu-list.main-menu li {
  display: inline-block;
  padding-right: 2rem;
}
