$family-serif: "Libre Caslon", "Palatino", "Bookman", "Bookman Old Style", "Garamond", "Georgia", "Times", "Times New Roman", serif !default

@font-face {
    font-family: 'Libre Caslon';
    src: url('../../fonts/librecaslondisplay-regular-webfont.eot');
    src: url('../../fonts/librecaslondisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/librecaslondisplay-regular-webfont.woff') format('woff'),
         url('../../fonts/librecaslondisplay-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Caslon';
    src: url('../../fonts/librecaslontext-bold-webfont.eot');
    src: url('../../fonts/librecaslontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/librecaslontext-bold-webfont.woff') format('woff'),
         url('../../fonts/librecaslontext-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Caslon';
    src: url('../../fonts/librecaslontext-italic-webfont.eot');
    src: url('../../fonts/librecaslontext-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/librecaslontext-italic-webfont.woff') format('woff'),
         url('../../fonts/librecaslontext-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
