{% extends "@bulma/system/page.html.twig" %}
{#
  Limit the main content column to a max of 10 units at widescreen and above.
  @see system/page.html.twig in the Bulma theme.
#}
{%
  set page = page|merge({
    'content_attributes': create_attribute().addClass([
      'main-content',
      'column',
      'is-10-widescreen',
    ]),
  })
%}

{% if is_front %}
  {%
    set page = page|merge({
      'navbar_branding': '',
    })
  %}
{% endif %}

{% block header_and_search %}
{# Header hero region + search #}
<div class="container">
  <div class="columns is-marginless is-vcentered">
    <div class="column">
      {% if not is_front %}
        {{ page.header }}
      {% endif %}
      {% if is_front and site_logo %}
      <div class="columns is-vcentered banner__front">
        <div class="column">
          <figure class="wordmark image">
            <img src="{{ site_logo }}" alt="{{ site_name }}" />
          </figure>
        </div>
        <div class="column">
          <span class="title is-size-5 is-size-4-tablet is-size-3-widescreen slogan">{{ site_slogan }}</span>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="column is-narrow pull-right">
      {{ page.header_search }}
    </div>
  </div>
</div>
{% endblock header_and_search %}
